<%= form_with model:current_student, url: edit_profile_path do |form| %>

    <%
=begin%>
 <%if form.object.errors.any?%>
        <div class="alert alert-danger">
            <%= form.object.errors.full_message.each do |message| %>
                <div><%= message %></div> 
            <%end%>    
        </div>
    <%end%> 
<%
=end%>

    <div class="mb-3">
    <%= form.label :name%>
    <%= form.text_field :name ,class:"form-control", placeholder:"Ex Varun Kolur"%>
    </div>

    <div class="mb-3">
    <%= form.label :email%>
    <%= form.text_field :email ,class:"form-control", placeholder:"Ex varun@email.com"%>
    </div>

    <div class="mb-3">
    <%= form.label :address%>
    <%= form.text_field :address ,class:"form-control", placeholder:"Ex Bengaluru"%>
    </div>

    <div class="mb-3">
    <%= form.submit "Update",class:"btn btn-primary"%>
    </div>

<%end%>