<div class="d-flex align-items-center justify-content-center ">
    <h1> List of your Students are:</h1>
</div>
<h1>Students Enrolled in <%= @teacher.cource.name %></h1>
<table class="table table-striped">
 <thead>
    <tr>
      <th scope="col">Student Id</th>
      <th scope="col">Student Name</th>
      <th scope="col">Email</th>
      <th scope="col">Gender</th>
    </tr>
 </thead>
 <tbody>
    <% @teacher.cource.students.each do |student| %>
      <tr>
        <td><%= student.id%></td>
        <td><%= student.name%></td>
        <td><%= student.email %></td>
        <td><%= student.gender %></td>
      </tr>
    <% end %>
 </tbody>
</table>
